<!-- navbar start -->
<nav class="navbar nav-edit">

    <div class="container-fluid ">
        <!-- logo start -->
        <a class="navbar-brand" href="#">
            <div> <img src="../../assets/img/teamwork.png" alt="logo" class="logo-edit">
                <span class="title-edit">User Dashboard</span>
            </div>
        </a>
        <!-- logo end -->
        <!-- search start -->
        <form class="d-flex mx-auto" role="search">
            <!-- <input class="myInput me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            <div class="ui-input-container">
                <input placeholder="Type something..." class="ui-input" type="text" />
                <div class="ui-input-underline"></div>
                <div class="ui-input-highlight"></div>
                <div class="ui-input-icon">
                    <i class="bi bi-search"></i>
                </div>
            </div>

        </form>
        <!-- search end -->
    </div>
</nav>
<!-- navbar end -->





