.img-edit{
    padding: 10px;
}
.container-edit{
    margin-top: 20px;
    background: var(--color5);
    border: solid var(--color2) 5px;
}
.title{
    font-weight: 700;
    font-size: 15px;
    color: var(--color1);
}
.answer{
    font-weight: 400;
    font-size: 14px;
    color: var(--color2);
}