 .card-edit {
    width: 270px;
    background-color: var(--color5);
    color:var(--color1);
  } 
  
.container-card-edit{
  margin-top: 20px;
  margin-bottom: 20px;
}


.container-card-edit:hover{
  transform: scale(1.1) ;

}
.card-edit{
width: 100%;
}

.view-edit{
  color: var(--color5)!important;
  background: var(--color3);
}
.row-edit{
  margin: 0!important;
}
@media only screen and (max-width: 625px) { 

  .card-edit{
    width: 92%;
    margin: auto;
    }
}